$primary: #119fe2;
$primary-active: #2095cc;
$waring: #FFB400;
$waring-active: #E6A200;
$danger: #EF4F4F;
$danger-active: #D74747;
$disabled: #F0F0F0;
$white: #FFF;

/** button **/
$btn-height: .6rem;
$btn-fontsize: .26rem;
$btn-radius: 3px;

$btn-def-bg: $white;
$btn-def-bc: #eaeaea;
$btn-def-c: #454545;
$btn-def-bg-active: #f6f6f6;

$btn-primary-bg: $primary;
$btn-primary-bc: $primary;
$btn-primary-c: $white;
$btn-primary-bg-active: $primary-active;

$btn-waring-bg: $waring;
$btn-waring-bc: $waring;
$btn-waring-c: $white;
$btn-waring-bg-active: $waring-active;

$btn-danger-bg: $danger;
$btn-danger-bc: $danger;
$btn-danger-c: $white;
$btn-danger-bg-active: $danger-active;

