@import '../commons/variables';

@mixin btn-variant(){
  text-align: center;
  position: relative;
  border: none;
  pointer-events: auto;
  outline: none;
  border: 1px solid;
}

@mixin border-bg($color, $bgColor, $borderColor) {
  color: $color;
  background-color: $bgColor;
  border-color: $borderColor
}



.btn{
  @include btn-variant();
  @include border-bg($btn-def-c, $btn-def-bg, $btn-def-bc);
  height: $btn-height;
  font-size: $btn-fontsize;
  display: inline-block;
  padding: 0 .2rem;
  box-sizing: content-box;
  border-radius: $btn-radius;

  &:active{
    @include border-bg($btn-def-c, $btn-def-bg-active, $btn-def-bc);
  }

  &.primary{
    @include border-bg($btn-primary-c, $btn-primary-bg, $btn-primary-bc);
    &:active{
      @include border-bg($btn-primary-c, $btn-primary-bg-active, $btn-primary-bg-active);
    }
  }

  &.waring{
    @include border-bg($btn-waring-c, $btn-waring-bg, $btn-waring-bc);
    &:active{
      @include border-bg($btn-waring-c, $btn-waring-bg-active, $btn-waring-bg-active);
    }
  }

  &.danger{
    @include border-bg($btn-danger-c, $btn-danger-bg, $btn-danger-bc);
    &:active{
      @include border-bg($btn-danger-c, $btn-danger-bg-active, $btn-danger-bg-active);
    }
  }
}
